<% provide(:title, 'All users') %>
<h1 style="font-family: comic sans ms; color: aqua">All users</h1>

<%= will_paginate %>

<ul class="users" style="font-family: comic sans ms; color: aqua">
  <%= render @users %>
</ul>

<%= will_paginate %>
