<footer class="footer">
  <small>
    <a href="http://kinogo.net/">Дневники вампира</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contacts", contacts_path %></li>
      <li><a href="http://games-portal.org/">News</a></li>
    </ul>
  </nav>
</footer>